<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit Post')">
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<form th:action="@{/posts/{id}/edit(id=${post.getId()})}" th:method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" id="body" name="body" rows="3"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Save Changes">
</form>

<form th:action="@{/posts/{id}/delete(id=${post.getId()})}" th:method="post">
    <button class="btn btn-danger">Delete</button>
</form>


<th:block th:include="partials/scripts :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>