<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Show Post')">
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Show individual post</h1>

<h2 th:text="${post.title}"></h2>
<p th:text="${post.body}"></p>

<!--Note: Do not forget the slashes in the very beginning.-->
<form th:action="@{/posts/{id}/delete(id=${post.getId()})}" th:method="post">
    <button class="btn btn-danger">Delete</button>
</form>

<th:block th:include="partials/scripts :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>