<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Show Post')">
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Show individual post</h1>
<main class="container">
    <div class="card text-center">
        <div class="card-header">
            View Post
        </div>
        <div class="card-body">
            <h3 class="card-title" th:text="${post.title}"></h3>
            <p class="card-text" th:text="${post.body}"></p>
            <a href="/posts" class="btn btn-primary"> Back </a>
        </div>
        <div class="card-footer text-muted">
            <p>Author: <span th:text="${post.getOwner().getUsername()}"></span></p>
        </div>
    </div>
    <!--    Tried to catch null but it doesn't seem to be render correctly-->
    <!--    <p th:if="${post.getOwner().getUsername() != null }">Created by: <span th:text="${post.getOwner().getUsername()}"></span></p>-->
    <!--    <p th:if="${post.getOwner().getUsername() == null}">Created by: <span th:text="Unknown"></span></p>-->
</main>

<th:block th:include="partials/scripts :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>