<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar Fragment</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark special-color-dark">
    <a class="navbar-brand" href="/home">Location : Anywhere <i class="fas fa-map-marker-alt"></i></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/posts">View Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts/create" sec:authorize="isAuthenticated()">Create Post</a>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a class="nav-link" href="/signup" sec:authorize="isAnonymous()">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Login</a>
            </li>
            <li class="nav-item" >
<!--                <form th:action="@{/logout}" th:method="post">-->
<!--                    <button class="btn-link btn">Logout</button>-->
<!--                </form>-->
                <form id="logout" th:method="post" th:action="@{/logout}"></form>
                <a class="nav-link" onclick="document.getElementById('logout').submit();" sec:authorize="isAuthenticated()">Logout</a>
            </li>
        </ul>
    </div>

</nav>
</body>
</html>