<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Sign Up')">
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container">
    <h1>Registration form</h1>

<!--    removed th from method-->
    <form th:action="@{/signup}" method="post" th:object="${user}">
        <div class="form-group mt-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}"/>
        </div>
        <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}"/>
        </div>
        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}"/>
        </div>

        <input class="btn btn-primary" type="submit" value="Sign Up">
    </form>
</main>

<th:block th:include="partials/scripts :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>