<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Sign Up')">
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container">
    <form th:action="@{/signup}" th:method="post">
        <div class="form-group mt-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <input class="btn btn-primary" type="submit" value="Sign Up">
    </form>
</main>

<th:block th:include="partials/scripts :: scripts"></th:block>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>